/* Banner */

/* Header */
#header {
  position: absolute;
  color: white;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
  font-size: 6rem;
  text-align: center;
  margin: 0;
  z-index: -20;
}

#headerParallelogram {
  position: absolute;
  background-color: #980013;
  z-index: -20;
}

/* Mobile */
@media (min-width: 0em) and (orientation: portrait) {
  html {
    font-size: 15px;
  }

  #redBannerBackground {
    background-color: #b30027;

    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    height: 80%;
    margin: 0;
    
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
    z-index: -10;
  }


}

@media (min-width: 0em) and (orientation: landscape) {
  html {
    font-size: 12px;
  }

  #redBannerBackground {
    background-color: #b30027;

    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    height: 80%;
    margin: 0;
    padding: 0px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    z-index: -10;
  }


}

/* Desktop - 1024px*/
@media (min-width: 64rem) {
  html {
    font-size: 16px;
  }

  #redBannerBackground {
    background-color: #b30027;

    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    height: 80%;
    margin: 0;
    padding: 0px;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
    z-index: -10;
  }

  #title {
    white-space: nowrap;
  }


}
