body{
  font-weight: bold;

}

#mobileNavButton {
  position: fixed;
  background-color: #e5001b;
  z-index: 50;
}

#mobileNavButtonIcon {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #69000c;
  z-index: 50;

}

#mobileNavMenuText{
  position: absolute;
  left: 55%;
    top: 50%;
  transform: translate(-50%, -50%);
  color: #69000c;
  z-index: 50;
  font-weight: 600;

}

.navElement {
  color: #ffffff;

  text-shadow: -2px -2px 0 #c5002b, 0 -2px 0 #c5002b, 2px -2px 0 #c5002b,
    2px 0 0 #c5002b, 2px 2px 0 #c5002b, 0 2px 0 #c5002b, -2px 2px 0 #c5002b,
    -2px 0 0 #c5002b;

  text-decoration: none;
}

.mobileNavMenuTextShow {
 opacity: 1;
  font-weight: 600;
  
}
.mobileNavMenuTextHide {
opacity: 0;
  font-weight: 600;

}


.mobileNavButtonShow {
  width: 100%;
  height: 3.5%;
  left: 50%;
  top: 0%;
  transform: translate(-50%);
  transition-duration: 0.3s;
  font-weight: 600;

  
}
.mobileNavButtonHide {
  width: 9%;
  height: 9%;
  left: 50%;
  top: 9%;
  transform: translate(-50%);
  transition-duration: 0.3s;
  clip-path: circle();
  height: 2.5rem;

}

.mobileNavButtonIconShow {
  transition-duration: 0.15s;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  height: 0.6rem;
  width: 1rem;
  left: 45%;

}

.mobileNavButtonIconHide {
  transition-duration: 0.15s;

  clip-path: polygon(50% 0%, 0 100%, 100% 100%);
  height: 0.5rem;
  width: 0.8rem;
  left: 50%;

}

.aboutShown {
  top: 2%;
  left: 20%;
  transform: translate(-50%);
  transition-duration: 0.3s;
  margin: 0;
}

.pricingShown {
  top: 3%;
  transform: translate(-50%);
  left: 50%;
  transition-duration: 0.2s;
margin: 0;
}

.contactShown {
  top: 2%;
  left: 82%;
  transform: translate(-50%);
  transition-duration: 0.3s;
  margin: 0;
}

.aboutHidden {
  top: -5%;
  left: 22.5%;
  transform: translate(-50%);
  transition-duration: 0.3s;
}

.pricingHidden {
  top: -5%;
  left: 50%;
  transform: translate(-50%);
  transition-duration: 0.2s;
}

.contactHidden {
  top: -5%;
  left: 77.5%;
  transform: translate(-50%);
  transition-duration: 0.3s;
}

.aboutStart {
  top: 2%;
  left: 70%;
}

.pricingStart {
  top: 2%;
  left: 80%;
}

.contactStart {
  top: 2%;
  left: 90%;
}

.aboutEnd {
  top: 2%;
  left: 90%;
}

.pricingEnd {
  top: 7%;
  left: 90%;
}

.contactEnd {
  top: 12%;
  left: 90%;
}

/* Mobile */
@media (min-width: 0em) and (orientation: portrait) {
  .navElement {
    font-size: 1.7rem;
    position: fixed;
    transition-property: top, left;
  }
}

@media (min-width: 0em) and (orientation: landscape) {
}

/* Desktop */
@media (min-width: 64rem) {
  .navElement {
    font-size: 1.7rem;
    position: fixed;
    transition-property: top, left;
    transition-duration: 0.5s;
    font-weight: bold;
  }

  #mobileNavButton {
    visibility: hidden;
  }

  .navElement:hover {
    text-decoration: underline solid 4px;
    text-underline-offset: 8px;
  }
}
