

/* Transitions */
.whyUsHeaderStart {
  transform: scale(0.44);
  transition-property: filter, transition, opcaity, left;
  transition: 0.25s;
  filter: blur(16px);
  opacity: 0;
}

.whyUsHeaderTransition {
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
  transition: 0.25s;
  transition-property: filter, transition, opcaity, left;
}

.whyUsTextStart {
  transform: scale(0.44);
  filter: blur(16px);
  transition: 0.25s;
  opacity: 0;
  transition-property: filter, transition, opcaity, left;
}

.whyUsTextTransition {
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
  transition: 0.25s;
  transition-property: filter, transition, opcaity, left;
}

.whyUsCenter {
  transform: translate(-50%);
  left: 50%;
  transition-property: filter, transition, opcaity, left;
}

.whyUsLeft {
  transform: translate(-50%);
  left: 25%;
  transition-property: filter, transition, opcaity, left;
}

.waitTextContainerStart {
  transition-duration: 0.5s;
  position: absolute;
  top: 150rem;
  left: 50%;
  width: 80%;
  height: 50%;
}

.waitTextContainerTransition {
  transition-duration: 0.5s;
  position: absolute;
  top: 130rem;
  left: 50%;
  width: 80%;
  height: 50%;
}

.waitHeaderStart {
  transition-duration: 0.5s;
  position: absolute;
  top: 150rem;
  left: 50%;
  width: 80%;
  height: 50%;
}

.waitHeaderTransition {
  transition-duration: 0.5s;
  position: absolute;
  top: 118rem;
  left: 50%;
  width: 80%;
  height: 50%;
}

.whyUsImgHidden {
  opacity: 0;
  transform: scale(1.05);
  filter: blur(16px);
  box-shadow: 0 0 60px 20px rgb(0, 0, 0);

  transition-property: filter, transition, opcaity, left, box-shadow;
}
.whyUsImgShown {
  opacity: 1;
  transform: scale(1);
  filter: blur(0px);
  box-shadow: 0 0 30px 3px rgb(0, 0, 0);

  transition-property: filter, transition, opcaity, left, box-shadow;
}

/* Mobile */

@media (min-width: 0em) and (orientation: portrait) {
/* Section 1 */
  #services {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 41rem;
    z-index: -12;
  }

  #servicesHeader {
    position: absolute;
    color: rgb(0, 0, 0);
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    font-size: 5rem;
    text-align: center;
    margin: 0;
  }

  .services {
    position: absolute;
    color: rgb(255, 250, 250);
    left: 50%;
    font-size: 1.7rem;
    text-align: center;
    margin: 0;
    width: 99%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #servicesTextOne {
    box-shadow: 10px 0px 100px 1000px #ff0000;

    top: 205%;
    clip-path: polygon(0 0, 98% 0, 100% 100%, 2% 100%);
    background: center #a40528;
    transform: translate(-50%) rotateZ(0.5deg);
  }
  #servicesTextTwo {
    clip-path: polygon(2% 0, 100% 0, 98% 100%, 0% 100%);
    transform: translate(-50%) rotateZ(-0.5deg);
    background: center #cc173e;
    top: 220%;
  }
  #servicesTextThree {
    top: 235%;
    transform: translate(-50%) rotateZ(0.5deg);
    background: center #c20a32;
    clip-path: polygon(0 0, 98% 0, 100% 100%, 2% 100%);
  }

  /* Section 2 */
  #whyUs {
    position: absolute;
    top: 69rem;
    left: 0;
    width: 100%;
    height: 41rem;
    z-index: -12;
  }

  #whyUsHeader {
    position: absolute;
    color: #d50a36;

    top: 0%;

    font-size: 5rem;
    white-space: nowrap;
    text-align: center;
    margin: 0;
  }

  #whyUsText {
    position: absolute;
    color: rgb(0, 0, 0);
    top: 6.5rem;

    font-size: 3rem;
    text-align: center;
    margin: 0;
    width: 80%;
  }

  /* Section 3 */
  #waitHeader {
    transform: translate(-50%) rotateZ(-1deg);
    font-size: 5rem;
    z-index: 5;
  }

  #waitTextContainer {
    transform: translate(-50%);
    background-color: #b30027;
    clip-path: polygon(2% 1%, 100% 0%, 99% 100%, 1% 95%);
  }

  #waitOne {
    top: 0px;
    left: 20%;
  }
  #waitTwo {
    top: 0px;
    left: 50%;
  }

  #whyUsImg {
    position: absolute;
    left: 48%;
    top: 0;
    width: 40%;
    height: 40rem;
    transition-duration: 0.5s;
    background-image: url(/photo-1542831371-29b0f74f9713.jpg);
  }
}

@media (min-width: 0em) and (orientation: landscape) {
}

/* Desktop */
@media (min-width: 64rem) {
  /* Section 1 */
  #services {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 41rem;
    z-index: -12;
  }

  #servicesHeader {
    position: absolute;
    color: rgb(0, 0, 0);
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    font-size: 5rem;
    text-align: center;
    margin: 0;
  }

  .services {
    position: absolute;
    color: rgb(255, 250, 250);
    left: 50%;
    font-size: 1.7rem;
    text-align: center;
    margin: 0;
    width: 105%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #servicesTextOne {
    box-shadow: 10px 0px 100px 1000px #ff0000;

    top: 205%;
    clip-path: polygon(0 0, 98% 0, 100% 100%, 2% 100%);
    background: center #a40528;
    transform: translate(-50%) rotateZ(0.5deg);
  }
  #servicesTextTwo {
    clip-path: polygon(2% 0, 100% 0, 98% 100%, 0% 100%);
    transform: translate(-50%) rotateZ(-0.5deg);
    background: center #cc173e;
    top: 220%;
  }
  #servicesTextThree {
    top: 235%;
    transform: translate(-50%) rotateZ(0.5deg);
    background: center #c20a32;
    clip-path: polygon(0 0, 98% 0, 100% 100%, 2% 100%);
  }

  /* Section 2 */
  #whyUs {
    position: absolute;
    top: 69rem;
    left: 0;
    width: 100%;
    height: 41rem;
    z-index: -12;
  }

  #whyUsHeader {
    position: absolute;
    color: #d50a36;

    top: 0%;

    font-size: 5rem;
    white-space: nowrap;
    text-align: center;
    margin: 0;
  }

  #whyUsText {
    position: absolute;
    color: rgb(0, 0, 0);
    top: 6.5rem;

    font-size: 3rem;
    text-align: center;
    margin: 0;
    width: 80%;
  }

  /* Section 3 */
  #waitHeader {
    transform: translate(-50%) rotateZ(-1deg);
    font-size: 5rem;
    z-index: 5;
  }

  #waitTextContainer {
    transform: translate(-50%);
    background-color: #b30027;
    clip-path: polygon(2% 1%, 100% 0%, 99% 100%, 1% 95%);
  }

  #waitOne {
    top: 0px;
    left: 20%;
  }
  #waitTwo {
    top: 0px;
    left: 50%;
  }

  #whyUsImg {
    position: absolute;
    left: 48%;
    top: 0;
    width: 40%;
    height: 40rem;
    transition-duration: 0.5s;
    background-image: url(/photo-1542831371-29b0f74f9713.jpg);
  }
}
