/* Transitions */
html {
}
/* Mobile */

@media (min-width: 0em) and (max-width: 63rem) and (orientation: portrait) {
  /* Section 1 */
  #services {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 41rem;
    z-index: -12;
    font-weight: bold;
  }

  #servicesHeader {
    position: absolute;
    color: rgb(0, 0, 0);
    top: 50rem;
    left: 50%;
    transform: translate(-50%);
    font-size: 4rem;
    text-align: center;
    margin: 0;
  }

  .services {
    position: absolute;
    color: rgb(255, 250, 250);
    left: 50%;
    font-size: 1.7rem;
    text-align: center;
    margin: 0;
    width: 99%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%);
  }

  #servicesMobileBackground {
    position: absolute;
    left: 50%;
    top: 62.5rem;
    transform: translate(-50%);
    height: 50rem;
    width: 90%;
    background-color: #a40528;
  }

  #servicesTextOne {
    top: 1rem;
  }
  #servicesTextTwo {
    top: 13rem;
  }
  #servicesTextThree {
    top: 30rem;
  }

  /* Section 2 */
  #whyUs {
    position: absolute;
    top: 120.5rem;
    left: 0px;
    width: 100%;
    height: 41rem;
    z-index: -12;
  }

  #whyUsHeader {
    position: absolute;
    color: #d50a36;

    top: 1rem;

    font-size: 4rem;
    white-space: nowrap;
    text-align: center;
    margin: 0;
    font-weight: bold;
  }

  #whyUsText {
    position: absolute;
    color: rgb(0, 0, 0);
    top: 6.5rem;

    font-size: 1.6rem;
    text-align: center;
    margin: 0;
    width: 80%;
    font-weight: 400;
    text-decoration: none;
    pointer-events: none;
    
  }

      .whyUsTextHeaders {
    margin-left: -15px;
    font-weight: bold;
    font-size: 1.7rem;
    color: #c10e34;
  }

  /* Section 3 */
  #wait {
    font-weight: bold;

    position: absolute;
    font-size: 5rem;
    z-index: 5;
    left: 0%;
    top: 203.5rem;
    width: 100%;
  }

  #waitHeader {
    transform: translate(-50%);
    font-size: 2.5rem;
    left: 50%;
    z-index: 5;
    width: 90%;
    height: 10rem;

    position: absolute;
    top: 1rem;

    text-align: center;
    margin: 0;
  }

  #waitTextContainer {
    position: absolute;
    top: 9rem;
    left: 50%;
    width: 90%;
    height: 10rem;
    transform: translate(-50%);
    background-color: #b30027;
    font-size: 2rem;
  }

  #waitOne {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translate(-50%) rotateZ(-1deg);
    background-color: white;
    width: 60%;
    height: 6rem;
    line-height: 6rem;
    text-align: center;
    font-size: 2.1rem;
    z-index: 5;
    color: black;
    text-decoration: none;
    border-radius: 2%;
    clip-path: polygon(1% 1%, 100% 6%, 100% 96%, 0% 100%);
  }

  #whyUsImg {
    position: absolute;
    left: 48%;
    top: 0;
    width: 40%;
    height: 40rem;
    transition-duration: 0.5s;
    background-image: url(/photo-1542831371-29b0f74f9713.jpg);
  }

  .whyUsHeaderStart {
  }

  .whyUsTextStart {
  }

  .whyUsCenter {
    transform: translate(-50%);
    left: 50%;
    transition-property: filter, transition, opcaity, left;
  }

  .whyUsImgHidden {
    opacity: 0;
    transform: scale(1.05);
    filter: blur(16px);
    box-shadow: 0 0 60px 20px rgb(0, 0, 0);

    transition-property: filter, transition, opcaity, left, box-shadow;
  }

    #headerParallelogram {
    top: -17.5%;
    left: 0%;
    height: 70%;
    width: 100%;

    clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
  }
}

@media (min-width: 0em) and (orientation: landscape) {
}

/* Desktop */
@media (min-width: 64rem) {
  /* Section 1 */
  #services {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 41rem;
    z-index: -12;
    font-weight: bold;
  }

  #servicesHeader {
    position: absolute;
    color: rgb(0, 0, 0);
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    font-size: 5rem;
    text-align: center;
    margin: 0;
  }

  .services {
    position: absolute;
    color: rgb(255, 250, 250);
    left: 50%;
    font-size: 1.7rem;
    text-align: center;
    margin: 0;
    width: 105%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #servicesTextOne {
    box-shadow: 10px 0px 100px 1000px #ff0000;

    top: 205%;
    clip-path: polygon(0 0, 98% 0, 100% 100%, 2% 100%);
    background: center #a40528;
    transform: translate(-50%) rotateZ(0.5deg);
  }
  #servicesTextTwo {
    clip-path: polygon(2% 0, 100% 0, 98% 100%, 0% 100%);
    transform: translate(-50%) rotateZ(-0.5deg);
    background: center #cc173e;
    top: 220%;
  }
  #servicesTextThree {
    top: 235%;
    transform: translate(-50%) rotateZ(0.5deg);
    background: center #c20a32;
    clip-path: polygon(0 0, 98% 0, 100% 100%, 2% 100%);
  }

  /* Section 2 */
  #whyUs {
    position: absolute;
    top: 67rem;
    left: 0;
    width: 100%;
    height: 41rem;
    z-index: -12;
  }

  #whyUsHeader {
    position: absolute;
    color: #d50a36;
    font-weight: bold;

    top: -3%;
  
    font-size: 5rem;
    white-space: nowrap;
    text-align: center;
    margin: 0;
  }

  #whyUsText {
    position: absolute;
    color: rgb(0, 0, 0);
    top: 6.5rem;
    font-size: 1.4rem;
    text-align: left;
    margin: 0;
    width: 40%;
    font-weight: 500;
  }

    .whyUsTextHeaders {
    margin-left: -15px;
    font-weight: bold;
    font-size: 1.6rem;
    color: #c10e34;
  }

  /* Section 3 */
  #waitHeader {
    font-weight: bold;

    transform: translate(-50%) rotateZ(-1deg);
    font-size: 5rem;
    z-index: 5;
    height: 10rem;
  }

  #waitTextContainer {
    font-weight: bold;

    transform: translate(-50%);
    background-color: #b30027;
    clip-path: polygon(2% 1%, 100% 0%, 99% 100%, 1% 95%);
  }

  #waitOne {
    position: absolute;
    top: 7.5rem;
    left: 50%;
    transform: translate(-50%) rotateZ(-1deg);
    background-color: white;
    width: 25rem;
    height: 10rem;
    line-height: 10rem;
    text-align: center;
    font-size: 3rem;
    z-index: 5;
    color: black;
    text-decoration: none;
    border-radius: 2%;
    clip-path: polygon(1% 1%, 100% 6%, 100% 96%, 0% 100%);
  }

  #whyUsImg {
    position: absolute;

    top: 0;
    width: 40%;
    height: 40rem;
    transition-duration: 0.5s;
    background-image: url(/photo-1542831371-29b0f74f9713.jpg);
  }

  .whyUsHeaderStart {
    transform: scale(0.44);
    transition-property: filter, transition, opcaity, left;
    transition: 0.25s;
    filter: blur(16px);
    opacity: 0;
  }

  .whyUsHeaderTransition {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
    transition: 0.25s;
    transition-property: filter, transition, opcaity, left;
  }

  .whyUsTextStart {
    transform: scale(0.44);
    filter: blur(16px);
    transition: 0.25s;
    opacity: 0;
    transition-property: filter, transition, opcaity, left;
  }

  .whyUsTextTransition {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
    transition: 0.25s;
    transition-property: filter, transition, opcaity, left;
  }

  .whyUsCenter {
    transform: translate(-50%);
    left: 50%;
    transition-property: filter, transition, opcaity, left;
  }

  .whyUsLeft {
    transform: translate(-50%);
    left: 25%;
    transition-property: filter, transition, opcaity, left;
  }

  .waitTextContainerStart {
    transition-duration: 0.5s;
    position: absolute;
    top: 150rem;
    left: 50%;
    width: 80%;
    height: 50%;
    filter:brightness(0);
  }

  .waitTextContainerTransition {
    transition-duration: 0.5s;
    position: absolute;
    top: 130rem;
    left: 50%;
    width: 80%;
    height: 50%;
  }

  .waitHeaderStart {
    transition-duration: 0.5s;
    position: absolute;
    top: 150rem;
    left: 50%;
    width: 80%;
    height: 50%;
  }

  .waitHeaderTransition {
    transition-duration: 0.5s;
    position: absolute;
    top: 118rem;
    left: 50%;
    width: 80%;
    height: 50%;
  }

  .whyUsImgHidden {
    opacity: 0;
    transform: scale(1.05);
    filter: blur(16px);
    box-shadow: 0 0 60px 20px rgb(81, 0, 0);
    left: 130%;
    transition-property: filter, transition, opcaity, left, box-shadow;
  }
  .whyUsImgShown {
    opacity: 1;
    transform: scale(1);
    filter: blur(0px);
    box-shadow: 0 0 30px 3px rgb(0, 0, 0);
    left: 48%;
    transition-property: filter, transition, opcaity, left, box-shadow;
  }

  #headerParallelogram {
    top: -17.5%;
    left: -15%;
    height: 125%;
    width: 60%;

    clip-path: polygon(12.5% 0, 100% 0%, 87.5% 100%, 0% 100%);
  }
}
