@media (min-width: 0rem) and (orientation: portrait) {
  #headerParallelogram {
    top: 2%;
    left: 0;
    height: 105%;
    width: 99%;

    clip-path: polygon(0 0, 100% 0, 97.5% 100%, 2.5% 100%);
  }

  #pricingSection {
    position: absolute;
    top: -6rem;
    left: 0;
    width: 100%;
    height: 41rem;
    z-index: -12;
    font-weight: bold;
  }

  #pricingHeader {
    position: absolute;
    color: rgb(0, 0, 0);
    top: 52.5rem;
    left: 50%;
    top: 62rem;
    font-size: 4rem;
    transform: translate(-50%);
    text-align: center;
    margin: 0;
    line-height: 3.75rem;
  }

  .pricings {
    position: absolute;
    color: rgb(255, 250, 250);
    left: 50%;
    font-size: 1.75rem;
    text-align: center;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%);
    background-color: #bcbcbcbf;
    height: 90rem;
  }

  #pricingMobileBackground {
    position: absolute;
    left: 50%;
    top: 2.5rem;
    transform: translate(-50%);
    height: 50rem;
    width: 90%;
  }

  #pricingText {
    top: 38rem;
  }
      #whiteBackground{
  height: 140rem;

  }
}

@media (min-width: 64rem) {
  #pricingSection {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 41rem;
    z-index: -12;
    font-weight: bold;
  }

  #pricingHeader {
    position: absolute;
    color: rgb(0, 0, 0);
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    font-size: 5rem;
    text-align: center;
    margin: 0;
  }

  .pricings {
    position: absolute;
    color: rgb(255, 250, 250);
    left: 50%;
    font-size: 1.7rem;
    text-align: center;
    margin: 0;
    width: 95%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #pricingText {
    top: 205%;
    background: center #a40528;
    transform: translate(-50%);
  }

  #headerParallelogram {
    top: -17.5%;
    left: -15%;
    height: 125%;
    width: 130%;

    clip-path: polygon(12.5% 0, 100% 0%, 87.5% 100%, 0% 100%);
  }
      #whiteBackground{
  height: 140rem;

  }
}
